/* Title bar layout */

div.title-bar {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 38px;

  z-index: 5;
  user-select: none;
  -webkit-app-region: drag;
}

div.title-bar-text {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: calc(var(--side-bar-width) + 20px);
  right: 149px;

  text-align: left;
  line-height: 38px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.main-view {
  position: absolute;
  z-index: 4;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

/* Side bar layout */

div.side-bar-background {
  position: absolute;
  z-index: 1;
  left: 0px;
  width: var(--side-bar-width);
  top: 0px;
  bottom: 0px;

  background-color: #e9e9e9;
}

@media (prefers-color-scheme: dark) {
  div.side-bar-background {
    background-color: #292929;
  }
}

div.side-bar-shadow {
  position: absolute;
  z-index: 2;
  left: 0px;
  width: var(--side-bar-width);
  top: 0px;
  height: 38px;

  box-shadow: 0px 0px 3px 0px #777;
  transition: opacity 0.3s ease-in-out;
  opacity: 0%;
}

@media (prefers-color-scheme: dark) {
  div.side-bar-shadow {
    box-shadow: 0px 0px 0px 0.7px #000;
  }
}

div.side-bar {
  position: absolute;
  left: 0px;
  width: var(--side-bar-width);
  top: 0px;
  bottom: 0px;
  overflow: auto;
}

div.side-bar-handle {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: calc(var(--side-bar-width) - 2px);
  width: 4px;

  z-index: 6;
  cursor: col-resize;
}

/* Viewing area layout */

div.viewer-background {
  position: absolute;
  z-index: 3;
  left: var(--side-bar-width);
  right: 0px;
  top: 0px;
  bottom: 0px;

  box-shadow: 0px 0px 3px 2px #ddd;
  background-color: #fff;
}

@media (prefers-color-scheme: dark) {
  div.viewer-background {
    box-shadow: 0px 0px 0px 1px #000;
    background-color: #222;
  }
}

div.viewer {
  position: absolute;
  left: var(--side-bar-width);
  right: 0px;
  top: 0px;
  bottom: 0px;
}

/* Field selector */

div.side-bar-title {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 18px;
  margin-right: 18px;
  height: 20px;

  font-size: 12px;
  line-height: 20px;
  text-align: center;
  font-weight: bold;
  opacity: 50%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.field-item {
  position: relative;
  width: 100%;
  height: 30px;
}

svg.field-item-icon {
  position: absolute;
  left: calc(17px + var(--indent, 0px));
  top: 9px;
  fill: #222;
}

@media (prefers-color-scheme: dark) {
  svg.field-item-icon {
    fill: #eee;
  }
}

div.field-item-label {
  position: absolute;
  left: calc(35px + var(--indent, 0px));
  max-width: calc(100% - 35px - var(--indent, 0px) - 18px);
  top: 5px;
  height: 20px;

  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Dragged items */

#dragItem {
  position: absolute;
  z-index: 999;
  white-space: nowrap;
  font-size: 15px;
  font-style: italic;
  cursor: grabbing;
}

/* Tab bar */

div.tab-bar {
  position: absolute;
  left: 10px;
  right: calc(10px + var(--tab-control-inline) * 144px);
  top: 0px;
  height: 50px;

  overflow: scroll;
  white-space: nowrap;
}

div.tab-bar::-webkit-scrollbar {
  display: none;
}

div.tab-bar-shadow-left, div.tab-bar-shadow-right {
  position: absolute;
  width: 60px;
  top: 0px;
  height: 50px;
  
  transition: opacity 0.2s ease-in-out;
}

div.tab-bar-shadow-left {
  opacity: 0%;
  left: 10px;
  background-image: linear-gradient(to right, white, rgba(255, 255, 255, 0.75), transparent);
}

div.tab-bar-shadow-right {
  opacity: 100%;
  right: calc(10px + var(--tab-control-inline) * 144px);
  background-image: linear-gradient(to left, white, rgba(255, 255, 255, 0.75), transparent);
}

@media (prefers-color-scheme: dark) {
  div.tab-bar-shadow-left {
    background-image: linear-gradient(to right, #222, rgba(34, 34, 34, 0.75), transparent);
  }
  
  div.tab-bar-shadow-right {
    background-image: linear-gradient(to left, #222, rgba(34, 34, 34, 0.75), transparent);
  }
}

div.tab-bar-scroll {
  position: absolute;
  left: 10px;
  right: calc(10px + var(--tab-control-inline) * 144px);
  top: 0px;
  height: 50px;

  overflow: scroll;
}

div.tab-bar-scroll::-webkit-scrollbar {
  display: none;
}

div.tab-bar-scroll-content {
  width: 100%;
  height: 100%;
}

div.tab {
  display: inline-block;
  height: 30px;
  border-radius: 15px;

  margin-top: 10px;
  margin-left: 3px;
  margin-right: 3px;
  padding-left: 10px;
  padding-right: 10px;

  text-align: center;
  line-height: 30px;
  white-space: nowrap;

  transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
  background-color: #eee;
  border: 1px solid #aaa;
}

div.tab.tab-hovered {
  background-color: #ddd;
}

div.tab.tab-selected {
  background-color: #aaa;
  border: 1px solid #222;
}

@media (prefers-color-scheme: dark) {
  div.tab {
    background-color: #444;
    border: 1px solid #666;
  }

  div.tab.tab-hovered {
    background-color: #555;
  }

  div.tab.tab-selected {
    background-color: #888;
    border: 1px solid #eee;
  }
}

/* Tab control buttons */

button.tab-control {
  position: absolute;
  z-index: 6;
  top: calc(8px + (var(--tab-control-inline) * 3px)); /* Center vertically in tab bar when inline */
  height: 28px;
  width: 28px;
}

button.play, button.pause {
  right: 116px;
}

button.move-left {
  right: 78px;
}

button.move-right {
  right: 50px;
}

button.add-tab {
  right: 12px;
}

/* Tab content */

div.tab-content {
  position: absolute;
  top: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

div.tab-centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  font-style: italic;
}

/* Metadata */

div.metadata-table-container {
  height: 100%;
  width: 100%;
  overflow: scroll;
}

table.metadata-table {
  width: 100%;
  table-layout: fixed;
  text-align: left;
  word-wrap: break-word;
  border-collapse: separate;
  border-spacing: 0;
}

table.metadata-table th:first-child {
  width: 150px;
}

table.metadata-table th {
  padding: 6px;
  position: sticky;
  top: 0px;
  border-bottom: 1px solid #222;
  background-color: #fff;
}

table.metadata-table td:first-child {
  padding: 6px;
  text-align: right;
  font-weight: bold;
  border-right: 1px solid #222;
}

table.metadata-table td:not(:first-child) {
  padding: 6px;
  font-family: monospace;
  font-size: 14px;
  user-select: text;
}

table.metadata-table td.no-data {
  font-style: italic;
}

@media (prefers-color-scheme: dark) {
  table.metadata-table th {
    border-bottom: 1px solid #eee;
    background-color: #222;
  }

  table.metadata-table td:first-child {
    border-right: 1px solid #eee;
  }
}

/* Line graph */

div.legend-left {
  position: absolute;
  left: 0%;
  width: 33%;
  bottom: 0px;
  height: 30%;
  max-height: 200px;

  overflow: auto;
}

div.legend-discrete {
  position: absolute;
  left: 33%;
  width: 33%;
  bottom: 0px;
  height: 30%;
  max-height: 200px;

  overflow: auto;
  border-left: 1px solid #555;
  border-right: 1px solid #555;
}

@media (prefers-color-scheme: dark) {
  div.legend-discrete {
    border-left: 1px solid #999;
    border-right: 1px solid #999;
  }
}

div.legend-right {
  position: absolute;
  left: 66%;
  width: 34%;
  bottom: 0px;
  height: 30%;
  max-height: 200px;

  overflow: auto;
}

div.legend-drag-target {
  background-color: lightgreen;
  opacity: 25%;
}

div.legend-item {
  position: relative;
  width: 100%;
  height: 30px;
}

div.legend-title {
  position: absolute;
  top: 0px;
  height: 100%;
  left: 5px;
  right: 35px;

  text-align: center;
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.legend-title-center {
  right: 5px;
}

div.legend-key-container {
  position: absolute;
  top: 0px;
  height: 100%;
  left: 30px;
  max-width: calc(100% - 30px - 30px);

  text-align: right;
  direction: rtl;
  font-size: 14px;
  line-height: 30px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

span.legend-key {
  unicode-bidi: plaintext;
}

svg.legend-splotch {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(-50%, -50%);

  stroke: #555;
}

button.legend-edit {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(50%, -50%);

  width: 25px;
  height: 25px;
}

@media (prefers-color-scheme: dark) {
  svg.legend-splotch {
    stroke: #999;
  }
}

div.line-graph-canvas-container {
  position: absolute;
  top: 0px;
  bottom: 30%;
  min-height: calc(100% - 200px);
  left: 0px;
  right: 0px;
}

canvas.line-graph-canvas {
  position: absolute;
  height: 100%;
  width: 100%;
}

div.line-graph-scroll {
  position: absolute;
  z-index: 7;
  left: 60px;
  right: 60px;
  top: 8px;
  bottom: 50px;

  overflow: scroll;
}

div.line-graph-scroll::-webkit-scrollbar {
  display: none;
}

div.line-graph-scroll-content {
  width: 100%;
  height: 100%;
}

/* Table */

div.data-table-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: scroll;
}

table.data-table {
  text-align: left;
  white-space: nowrap;
  border-collapse: separate;
  border-spacing: 0;
  font-size: 14px;

  border-style: hidden;
}

table.data-table th {
  position: sticky;
  top: 0px;
  height: 30px;
  padding: 0px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #222;

  background-color: #fff;
  z-index: 7;
}

table.data-table th:first-child {
  left: 0px;
  min-width: 97px;
  z-index: 8;
}

table.data-table th:first-child input {
  position: absolute;
  left: 4px;
  top: 4.5px;
  height: 15px;
  width: 56px;
}

table.data-table th:first-child button {
  position: absolute;
  left: 70px;
  top: 2.5px;
  height: 25px;
  width: 25px;
}

table.data-table th:not(:first-child) {
  min-width: 250px;
}

div.data-table-key-container {
  position: absolute;
  left: 6px;
  right: 30px;
  top: 0px;
  height: 30px;
  line-height: 30px;

  direction: rtl;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.data-table-key-container span {
  unicode-bidi: plaintext;
}

button.data-table-key-delete {
  position: absolute;
  height: 25px;
  width: 25px;
  top: 2.5px;
  right: 2px;
}

table.data-table th:last-child {
  border-right: none;
}

table.data-table td {
  height: 16px;
  padding: 4px;
  font-family: monospace;
  user-select: text;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

table.data-table td:first-child {
  position: sticky;
  left: 0px;
  text-align: right;
  font-weight: bold;

  background-color: #fff;
}

table.data-table td:last-child {
  border-right: none;
}

table.data-table tr:last-child td {
  border-bottom: none;
}

table.data-table tr.hovered td {
  background-color: #ddd;
}

table.data-table tr.selected td {
  background-color: #aaa;
}

@media (prefers-color-scheme: dark) {
  table.data-table th {
    border-right: 1px solid #333;
    border-bottom: 1px solid #eee;
    background-color: #222;
  }

  table.data-table td {
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
  }

  table.data-table td:first-child {
    background-color: #222;
  }

  table.data-table tr.hovered td {
    background-color: #444;
  }
  
  table.data-table tr.selected td {
    background-color: #777;
  }
}

div.data-table-drag-highlight {
  position: absolute;
  z-index: 9;
  width: 25px;
  top: 0px;
  bottom: 0px;
  background-color: lightgreen;
  opacity: 25%;
}

/* Odometry controls */

div.odometry-drag-highlight {
  position: absolute;
  z-index: 9;
  background-color: lightgreen;
  opacity: 25%;
}

table.odometry-config {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  border-top: 1px solid #555;
}

table.odometry-config th {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  border-right: 1px solid #555;
  border-bottom: 1px solid #555;
}

table.odometry-config td {
  word-wrap: break-word;
  padding: 5px;
  border-right: 1px solid #555;
  border-bottom: 1px solid #eee;
}

table.odometry-config td:last-child, table.odometry-config th:last-child {
  border-right: none;
}

table.odometry-config tr:last-child td {
  border-bottom: none;
  padding-bottom: 6px;
}

table.odometry-config span.label {
  font-weight: 600;
}

table.odometry-config span.field-name {
  font-family: monospace;
  font-size: 14px;
}

table.odometry-config input[type="number"] {
  width: 75px;
}

@media (prefers-color-scheme: dark) {
  table.odometry-config {
    border-top: 1px solid #999;
  }
  
  table.odometry-config th {
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
  }

  table.odometry-config td {
    border-right: 1px solid #999;
    border-bottom: 1px solid #333;
  }
}