body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
  color: #222;
  user-select: none;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
  }
}

:root {
  --side-bar-width: 300px;
}

/* Title bar layout */

div.title-bar {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 38px;

  z-index: 5;
  user-select: none;
  -webkit-app-region: drag;
}

div.title-bar-text {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: calc(var(--side-bar-width) + 20px);
  right: 20px;

  text-align: left;
  line-height: 38px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.main-view {
  position: absolute;
  z-index: 4;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

/* Side bar layout */

div.side-bar-background {
  position: absolute;
  z-index: 1;
  left: 0px;
  width: var(--side-bar-width);
  top: 0px;
  bottom: 0px;

  background-color: #e9e9e9;
}

@media (prefers-color-scheme: dark) {
  div.side-bar-background {
    background-color: #292929;
  }
}

div.side-bar-shadow {
  position: absolute;
  z-index: 2;
  left: 0px;
  width: var(--side-bar-width);
  top: 0px;
  height: 38px;

  box-shadow: 0px 0px 3px 0px #777;
  transition: opacity 0.3s ease-in-out;
  opacity: 0%;
}

@media (prefers-color-scheme: dark) {
  div.side-bar-shadow {
    box-shadow: 0px 0px 0px 0.7px #000;
  }
}

div.side-bar {
  position: absolute;
  left: 0px;
  width: var(--side-bar-width);
  top: 0px;
  bottom: 0px;
  overflow: auto;
}

div.side-bar-handle {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: calc(var(--side-bar-width) - 2px);
  width: 4px;

  z-index: 6;
  cursor: col-resize;
}

/* Viewing area layout */

div.viewer-background {
  position: absolute;
  z-index: 3;
  left: var(--side-bar-width);
  right: 0px;
  top: 0px;
  bottom: 0px;

  box-shadow: 0px 0px 3px 2px #ddd;
  background-color: #fff;
}

@media (prefers-color-scheme: dark) {
  div.viewer-background {
    box-shadow: 0px 0px 0px 1px #000;
    background-color: #333;
  }
}

div.viewer {
  position: absolute;
  left: var(--side-bar-width);
  right: 0px;
  top: 0px;
  bottom: 0px;
}

/* Field selector */

div.side-bar-title {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 18px;
  margin-right: 18px;
  height: 20px;

  font-size: 12px;
  line-height: 20px;
  text-align: center;
  font-weight: bold;
  opacity: 50%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.field-item {
  position: relative;
  width: 100%;
  height: 30px;
}

svg.field-item-icon {
  position: absolute;
  left: calc(17px + var(--indent, 0px));
  top: 9px;
  fill: #222;
}

@media (prefers-color-scheme: dark) {
  svg.field-item-icon {
    fill: #eee;
  }
}

div.field-item-label {
  position: absolute;
  left: calc(35px + var(--indent, 0px));
  max-width: calc(100% - 35px - var(--indent, 0px) - 18px);
  top: 5px;
  height: 20px;

  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}