@media (prefers-color-scheme: dark) {
  body {
    background-color: #222;
  }
}

#odometryCanvasContainer,
#threeDimensionCanvasContainer,
#joysticksCanvas {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

#odometryCanvasContainer canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#threeDimensionAnnotations {
  pointer-events: none;
}

#threeDimensionAnnotations > div {
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0px 0px 10px black;
}

#threeDimensionCanvas:not(.fixed),
#threeDimensionAnnotations:not(.fixed) {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
}

#threeDimensionCanvas.fixed,
#threeDimensionAnnotations.fixed {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#threeDimensionCanvas.fixed {
  border: 1px solid #555;
}

#threeDimensionAlert {
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  text-align: center;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #555;
}

@media (prefers-color-scheme: dark) {
  #threeDimensionCanvas.fixed {
    border: 1px solid #999;
  }

  #threeDimensionAlert {
    background-color: #222;
    border: 1px solid #999;
  }
}

img.video-image {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

div.swerve-canvas-container {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0px;
  width: 100%;
  overflow: hidden;
}

canvas.swerve-canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: #f4f4f4;
  border: 1px solid #555;
}

@media (prefers-color-scheme: dark) {
  canvas.swerve-canvas {
    background-color: #292929;
    border: 1px solid #999;
  }
}

div.mechanism-svg-container {
  position: absolute;
  top: 0px;
  height: 100%;
  left: 0px;
  width: 100%;
}

svg.mechanism-svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

div.points-background-container {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0px;
  width: 100%;
  overflow: hidden;
}

div.points-background {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: #f4f4f4;
  border: 1px solid #555;
}

@media (prefers-color-scheme: dark) {
  div.points-background {
    background-color: #292929;
    border: 1px solid #999;
  }
}

div.points-background svg {
  position: absolute;
  stroke-width: 5px;
}
